<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
  <p><%= landmark.name %></p>
  <p><%= landmark.year_completed %></p>
<% end %>
<h3></h3>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
