<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
 
  <label>Name:<input type="text" name="name" id="new_landmark"></label>
  <label>Year:<input type="text" name="year_completed"></label>

  <h3>Figures</h3>
  <% @figures.each do |figure| %>
    <label><%= figure.name %> <input type="radio" id="figure_<%= figure.id %>" name="figure_id" value="<%= figure.id %>"></label><br>
  <% end %>
  
  <input type="submit">
</form>



<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
