<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
  <label>Name:<input type="text" name="landmark[name]" id="landmark_name"></label>
  <label>Year:<input type="text" name="landmark[year_completed]" id="landmark_year_completed"></label>

  <h3>Figures</h3>
  <% @figures.each do |figure| %>
    <label><%= figure.name %> <input type="radio" id="figure_<%= figure.id %>" name="figure_id" value="<%= figure.id %>"></label><br>
  <% end %>
  
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
