

<form method="POST" action="/figures"> 
<input type="text" name="name">                               >
<!--checkboxes for titles -->
</form>








<%# 

<form method="POST" action="/figures">
<!--Name input  -->
<p>Name <input type = "text" name = "name" ></p>
<br>
<p>Titles </p>
<br>
<!--New Title input  -->
<h1>Create New Title:</h1> 
<br>
<input type = "text" name = "title" >
<br>


<!--Landmark Heading-->
<br>
<h1>Landmarks</h1>
<br>



<br>
<h1>Create New Landmark:</h1>
<br>
<h1>Name:</h><input type = "text" name = "name" >Year:<input type = "text" name = "year" >
 %> 
